.main-header{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
  }